*{
	margin: 0px;
	padding: 0px;
	font-family: 'Titillium Web', sans-serif;
}
body{
	background-image: url(../images/bg.jpg);
	height: 100vh;
}
#mainList{
	width: 1024px;
	margin: auto;	

}
#mainList > li{
	display: inline-block;
	width: 200px;
	vertical-align: middle;
	height: 200px;
	line-height: 25px;
	padding-top: 35px;
	padding-left: 35px;
	background: url(../images/sticky.png) no-repeat;
	background-size: cover;
}
.notes{
	text-align: center;
	list-style: none;
	line-height: 30px;
}
.notes a{
	text-decoration: none;
	color: red;
}